@if (!isCurrentPathPartOfAuthFlow()) {
  <mat-toolbar class="bg-slate-900">
    <img src="logo.png" alt="Company Logo" class="navbar-logo" />
    <span>Eko</span>
    <span class="navbar-spacer"></span>

    @if (!responsive.isMobile()) {
      @if (isLoggedIn()) {
        <button matFab extended class="navbar-button">
          <mat-icon>settings</mat-icon>
          Settings
        </button>
        <a
          matFab
          extended
          class="navbar-button"
          [routerLink]="['/', appRoutesHelper.urlPaths.Home]"
          (click)="logOut()"
        >
          <mat-icon>person</mat-icon>
          Log Out
        </a>
      } @else {
        <a
          matFab
          extended
          class="navbar-button"
          [routerLink]="['/', appRoutesHelper.urlPaths.Signin]"
        >
          <mat-icon>person</mat-icon>
          Log In
        </a>
        <a
          matFab
          extended
          class="navbar-button"
          [routerLink]="['/', appRoutesHelper.urlPaths.Signup]"
        >
          Sign Up
        </a>
      }
      <span>LI: {{ isLoggedIn() }}</span>
    } @else {
      @if (!isLoggedIn()) {
        <a
          matFab
          extended
          class="navbar-button"
          [routerLink]="['/', appRoutesHelper.urlPaths.Signin]"
        >
          <mat-icon>person</mat-icon>
          Log In
        </a>
      }
    }
  </mat-toolbar>
}
