<!-- @if (isPlaying()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
} -->
@if (!isPlaying()) {
  <button
    hlmBtn
    appButton
    class="audio-icon"
    [disabled]="!dataService.isLoggedIn()"
    (click)="playAudio()"
  >
    <mat-icon>play_arrow</mat-icon>
    Play
  </button>
} @else {
  <button hlmBtn appButton [disabled]="!dataService.isLoggedIn()" (click)="stopAudio()">
    <mat-icon>stop</mat-icon>
    Stop
  </button>
}

<!-- <mat-button-toggle-group
  name="playBackSpeed"
  aria-label="Play Back Speed"
  [(ngModel)]="playbackSpeed"
>
  <mat-button-toggle value="25">25%</mat-button-toggle>
  <mat-button-toggle value="50">50%</mat-button-toggle>
  <mat-button-toggle value="75">75%</mat-button-toggle>
  <mat-button-toggle value="90">90%</mat-button-toggle>
  <mat-button-toggle value="100">100%</mat-button-toggle>
  <mat-button-toggle value="110">110%</mat-button-toggle>
</mat-button-toggle-group> -->
