.card-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chorus-count-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chorus-count-row {
  display: flex;
  flex-direction: row;
}
